header.header {
  max-width: var(--max-width);
  margin: var(--margin);
}

h1.title {
  margin: 0;
  color: var(--color-compsigh);
  text-shadow: 0 0 10px var(--color-compsigh-60);
}

h1.title:hover {
  text-shadow: 0 0 10px var(--color-compsigh);
}

img.logo {
  align-self: center;
  pointer-events: none;
  user-select: none;
}
