div#page-dimmer {
  background: var(--color-dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transition: opacity 0.2s ease;
  user-select: none;
  pointer-events: none;
}

div#terminal-container {
  position: fixed;
  bottom: 0;
  left: 25%;
  width: 50vw;
  z-index: 2;
}

@media (max-width: 860px) {
  div#terminal-container {
    left: 0;
    width: 100vw;
  }
}

div#terminal-edu {
  background: var(--color-dark);
  border-top: 1px solid var(--color-light-30);
  border-left: 1px solid var(--color-light-30);
  border-right: 1px solid var(--color-light-30);
  border-radius: 8px 8px 0 0;
  padding: 16px;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-proto-mono);
  color: var(--color-light-50);
  animation: slide-in 0.2s ease forwards;
}

div#terminal-edu > span:nth-child(even) > kbd {
  border: 1px solid var(--color-light-30);
  border-radius: 4px;
  padding: 0.1em 0.4em;
}

div#terminal-edu.subtle > span:nth-child(odd) {
  display: none;
}

div#terminal-edu.subtle {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--color-light-30);
  border-radius: 8px;

  /* Since chevrons are hidden */
  justify-content: center;

  animation: slide-in 0.2s ease forwards, slide-out 0.2s ease forwards;
  animation-delay: 0s, 3s;
}

div#terminal-edu.full > span:nth-child(odd) {
  rotate: 90deg;
  animation: spin 2s linear infinite;
}

[cmdk-dialog] {
  background: var(--color-dark);
  border-top: 1px solid var(--color-light-30);
  border-left: 1px solid var(--color-light-30);
  border-right: 1px solid var(--color-light-30);
  border-radius: 8px 8px 0 0;
  padding: 16px;
  animation: slide-in 0.2s ease forwards;
}

div#terminal-path {
  margin-top: 16px;
  padding-left: 8px;
  font-family: var(--font-ia-writer-mono);
  font-size: 0.875rem;
  color: var(--color-light-50);
}

[cmdk-input] {
  border: none;
  padding: 8px 8px 16px 8px;
  margin-bottom: 16px;
  background: transparent;
  color: var(--color-light);
  font-family: var(--ia-writer-quattro);
  font-size: 0.875rem;
  outline: none;
}

[cmdk-item] {
  content-visibility: auto;

  cursor: pointer;
  height: 48px;
  border-radius: 8px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  color: var(--color-light);
  user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none;

  &[data-selected="true"] {
    background: var(--color-compsigh-10);
  }

  &[data-disabled="true"] {
    color: var(--color-light-30);
    cursor: not-allowed;
  }

  &:active {
    transition-property: background;
    background: var(--color-compsigh-20);
  }

  & + [cmdk-item] {
    margin-top: 4px;
  }
}

[cmdk-list] {
  overflow: auto;
  overscroll-behavior: contain;
}

[cmdk-separator] {
  height: 1px;
  width: 100%;
  background: var(--color-light-30);
  margin: 4px 0;
}

*:not([hidden]) + [cmdk-group] {
  margin-top: 8px;
}

[cmdk-group-heading] {
  user-select: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: var(--color-light-50);
  padding: 0 8px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

[cmdk-empty] {
  font-size: 0.875rem;
  height: 48px;
  color: var(--color-light-50);
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
    margin-bottom: 0;
  }
}

@keyframes spin {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

button#terminal-toggle {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;

  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  font-family: var(--font-proto-mono);
  color: var(--color-light-50);
  background: var(--color-dark);
  border: 1px solid var(--color-light-30);
  border-radius: 8px;
  animation: slide-in 0.2s ease forwards;
}
