article.post {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  margin: 40px auto;
  max-width: 1260px; /* 200 + 80 + 700 + 80 + 200 */
}

article.post > div.content {
  max-width: var(--max-width);
}

article.post > div.sidebar-wrapper,
article.post > div.sidebar-placeholder {
  width: 200px;
  position: sticky;
  top: 30%;
  background: var(--color-dark-10);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 80px 30px var(--color-dark);
}

article.post > div.sidebar-wrapper,
article.post > div.content > div.authors-and-content {
  animation: fadeInFromBelow 1s ease forwards;
}

@keyframes fadeInFromBelow {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromAbove {
  from {
    opacity: 0;
    transform: translateY(-24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1420px /* 80px + 200px + 80px + 700px + 80px + 200px + 80px */) {
  article.post {
    max-width: var(--max-width);
    margin: var(--margin);
  }

  article.post > div.sidebar-wrapper,
  article.post > div.sidebar-placeholder {
    display: none;
  }
}

@media (max-width: 860px /* 80px + 700px + 80px */) {
  article.post > div.content {
    margin: 0 40px;
  }
}
