div#page {
  max-width: 100vw;
  max-height: 100vh;
  animation: fade-in 1s ease forwards;
}

div#page > div#background {
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

div#page > div#content {
  margin: 0 80px;
}

div#page > div#content > h1#title {
  width: fit-content;
}

div#page > div#content > h1#title:hover {
  color: var(--color-dark);
  -webkit-text-stroke: 1px var(--color-compsigh);
  text-shadow: none;
}

div#page > div#content > ul {
  width: fit-content;
}

div#page > div#content > ul > li.post {
  font-family: var(--font-proto-mono);
  display: flex;
  gap: 32px;
}

div#page > div#content > ul > li.post::before {
  content: ">";
  margin-top: unset;
}

div#page > div#content > ul > li.post > span:first-child {
  color: var(--color-light-50);
}

@media (max-width: 860px /* 80px + 700px + 80px */) {
  div#page > div#content > ul > li.post {
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
