services:
  web:
    build:
      context: .
      args:
        NODE_VERSION: 24.11.1
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - WATCHPACK_POLLING=true
      - CI=true
    ports: 
      - "3000:3000"