span.wrapper {
  display: inline-block;
  margin-right: 32px;
}

span.container {
  display: flex;
  gap: 8px;
  align-items: center;
}

span.name {
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: lowercase;
  text-shadow: 0 0 10px var(--color-compsigh-60);
}

span.name::before {
  content: "@";
  color: var(--color-light-50);
}
