nav.navbar {
  align-self: center;
}

nav.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.navbar ul li {
  margin: 0;
}

nav.navbar ul li::before {
  content: "";
}

nav.navbar ul li a {
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  padding: 4px 26px;
  border-radius: 6px;

  font-family: var(--font-proto-mono);
  font-size: 1rem;
  font-weight: 600;
  line-height: 180%;

  color: var(--color-light);
  text-shadow: 0 0 10px var(--color-compsigh-60);
  transition: all 0.2s ease;
}

nav.navbar ul li a:hover {
  background-color: var(--color-compsigh-20);
}

nav.navbar ul li a:active {
  background-color: var(--color-compsigh-60);
}
