:root {
  --color-black:       hsla(038deg, 000%, 000%, 1.0);
  --color-white:       hsla(038deg, 100%, 100%, 1.0);
  --color-dark:        hsla(038deg, 010%, 002%, 1.0);
  --color-dark-10:     hsla(038deg, 010%, 002%, 0.1);
  --color-light:       hsla(038deg, 100%, 090%, 1.0);
  --color-light-30:    hsla(038deg, 100%, 090%, 0.3);
  --color-light-50:    hsla(038deg, 100%, 090%, 0.5);
  --color-compsigh:    hsla(038deg, 100%, 050%, 1.0);
  --color-compsigh-10: hsla(038deg, 100%, 050%, 0.1);
  --color-compsigh-20: hsla(038deg, 100%, 050%, 0.2);
  --color-compsigh-60: hsla(038deg, 100%, 050%, 0.6);
  --color-diff-add:    hsla(120deg, 100%, 025%, 0.2);
  --color-diff-remove: hsla(360deg, 100%, 050%, 0.2);
  --color-invisible:   hsla(038deg, 000%, 000%, 0.0);

  --max-width: 700px;
  --margin: 40px auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: var(--color-light);
  background-color: var(--color-dark);
  font-family: var(--font-ia-writer-quattro), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 180%;
}

h1,
h2,
h3 {
  font-family: var(--font-tronica-mono);
  font-weight: 400;
  margin: 1.5em 0 1em;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 3rem;
  color: var(--color-compsigh);
  text-shadow: 0 0 10px var(--color-compsigh-60);
  margin-bottom: 32px;
}

h2,
h3 {
  text-transform: uppercase;
}

h2 code,
h3 code {
  text-transform: none;
}

a {
  color: var(--color-compsigh);
}

a:hover {
  text-decoration: none;
  color: var(--color-dark);
  background-color: var(--color-compsigh);
}

p,
ul,
ol {
  margin: 1em 0;
}

li {
  margin: 0.5em 0;
}

li::before,
li::marker {
  color: var(--color-light-50);
}

ul > li {
  list-style-type: none;
}

ul > li::before {
  position: absolute;
  margin-left: -22px;
  margin-top: -1px;
  content: '-';
}

ul ul {
  margin: unset;
}

ul ul > li,
ol ul > li,
ul ol > li,
ol ol > li {
  margin-left: 1em;
}

details > summary {
  cursor: pointer;
  list-style: none;
  appearance: none;
}

details > summary::before {
  position: absolute;
  margin-left: -22px;
  content: '>';
  font-family: var(--font-proto-mono);
  color: var(--color-compsigh);
}

details[open] > summary::before {
  transform: rotate(90deg);
}

details > summary::-webkit-details-marker {
  display: none;
}

code {
  font-family: var(--font-ia-writer-mono);
  counter-reset: line;
}

:not(pre) > code {
  box-shadow: 0 0 0 1px var(--color-light-50);
  padding: 0.1em 0.4em;
  border-radius: 0.4em;
}

figure[data-rehype-pretty-code-figure] {
  margin: 1em 0;
}

pre {
  padding: 1em 0;
  border: 1px dashed var(--color-compsigh-60);
  border-radius: 6px;
  font-size: 0.8em;
  overflow-x: auto;
  white-space: pre-wrap;
}

pre > code > span[data-line] {
  padding: 0 1em;
}

pre > code[data-line-numbers] > span[data-line]::before {
  position: absolute;
  margin-left: -5.5em;
  width: 3em;
  content: counter(line);
  counter-increment: line;
  text-align: right;
  color: var(--color-light-50);
  user-select: none;
  font-variant-numeric: tabular-nums;
}

pre > code[data-line-numbers] > span[data-line]:hover::before {
  color: var(--color-light);
}

figure[data-rehype-pretty-code-figure] > [data-rehype-pretty-code-title] {
  font-family: var(--font-tronica-mono);
  font-size: 0.9em;
  color: var(--color-compsigh-60);

  width: fit-content;
  padding: 0.2em 0.8em;
  border: 1px dashed var(--color-compsigh-60);
  border-bottom: 1px solid var(--color-dark);
  border-radius: 6px 6px 0px 0px;

  margin-left: 2em;
  margin-bottom: -1px;
  position: relative;
  z-index: 2;
}

figure[data-rehype-pretty-code-figure] > [data-rehype-pretty-code-caption] {
  font-size: 0.9em;
  color: var(--color-compsigh-60);

  width: fit-content;
  padding: 0.2em 0.8em;
  border: 1px dashed var(--color-compsigh-60);
  border-top: 1px solid var(--color-dark);
  border-radius: 0px 0px 6px 6px;

  margin-left: auto;
  margin-right: 2em;
  margin-top: -1px;
  position: relative;
  z-index: 2;
}

span[data-highlighted-line] {
  background-color: var(--color-compsigh-10);
}

span[data-highlighted-line-id="add"] {
  background-color: var(--color-diff-add);
}

span[data-highlighted-line-id="remove"] {
  background-color: var(--color-diff-remove);
}

hr {
  border: 0;
  border-top: 1px solid var(--color-light-30);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0;
  width: 100%;
  word-break: break-word;
}

tr {
  border-top: 1px solid var(--color-compsigh-20);
  border-bottom: 1px solid var(--color-compsigh-20);
}

th {
  font-weight: 400;
  background-color: var(--color-compsigh-10);
}

th,
td {
  padding: 0.4em 0.8em;
}

::selection {
  background: var(--color-compsigh-60);
}
