:root {
  --color-black:       hsla(038deg, 000%, 000%, 1.0);
  --color-white:       hsla(038deg, 100%, 100%, 1.0);
  --color-dark:        hsla(038deg, 010%, 002%, 1.0);
  --color-light:       hsla(038deg, 100%, 090%, 1.0);
  --color-light-50:    hsla(038deg, 100%, 090%, 0.5);
  --color-compsigh:    hsla(038deg, 100%, 050%, 1.0);
  --color-compsigh-20: hsla(038deg, 100%, 050%, 0.2);
  --color-compsigh-60: hsla(038deg, 100%, 050%, 0.6);

  --max-width: 700px;
  --margin: 40px auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: var(--color-light);
  background-color: var(--color-dark);
  font-family: var(--font-iosevka-aile), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 180%;
}

h1 {
  font-family: var(--font-delko);
  font-size: 3rem;
  font-weight: 400;
}

h2,
h3 {
  font-family: var(--font-iosevka-aile);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 1em;
  line-height: 1.2;
}

a {
  color: unset;
  font-weight: bold;
  text-decoration: none;
}

p,
ul,
ol {
  margin: 1em 0;
}

li {
  margin: 0.25em 0;
}

li::before,
li::marker {
  color: var(--color-light-50);
}

ul > li {
  list-style-type: none;
}

ul > li::before {
  position: absolute;
  margin-left: -22px;
  margin-top: -1px;
  content: '-';
}

ul ul > li {
  margin-left: 1em;
}
