div#background {
  pointer-events: none;
  user-select: none;
  animation: fade-in 2s ease forwards;
  z-index: -1;
  will-change: opacity;
}

div#content {
  z-index: 1;
  position: fixed;
  top: calc(30% + 32px);
  right: 50px;

  max-width: var(--max-width);
  margin: 0 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1#title {
  font-family: var(--font-delko);
  letter-spacing: 0.04em;
  margin: 0;
}

h1#title:hover {
  text-shadow: 0 0 10px var(--color-compsigh);
}

p#description {
  font-family: var(--font-tronica-mono);
  text-transform: lowercase;
  text-align: right;
}

nav#navbar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: -26px;
}

nav#navbar ul li {
  margin: 0;
}

nav#navbar ul li::before {
  content: "";
}

nav#navbar ul li a {
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  padding: 4px 26px;
  border-radius: 6px;

  font-family: var(--font-proto-mono);
  font-size: 1rem;
  font-weight: 600;
  line-height: 180%;
  text-decoration: none;

  color: var(--color-light);
  text-shadow: 0 0 10px var(--color-compsigh-60);
  transition: all 0.2s ease;
}

nav#navbar ul li a:hover {
  background-color: var(--color-compsigh-20);
}

nav#navbar ul li a:active {
  background-color: var(--color-compsigh-60);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  div#content {
    right: 0;
    top: 30%;
    margin: 0 40px;
    align-items: unset;
  }

  p#description {
    text-align: left;
  }

  nav#navbar ul {
    align-items: unset;
    margin-right: unset;
    margin-left: -26px;
  }
}
