div#page {
  margin: var(--margin);
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
}

div#page > div#content {
  animation: fade-in-from-below 1s ease forwards;
}

div#page > div#twinkle-wrapper {
  animation: fade-in 1s ease forwards;
}

div#page > div#content > div#breadcrumbs-wrapper {
  display: none;
}

div#page > div#content > h1#title {
  font-family: var(--font-tronica-mono);
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--color-compsigh);
  text-shadow: 0px 0px 10px var(--color-compsigh-60);
  margin-bottom: 32px;
}

@media (max-width: 860px /* 80px + 700px + 80px */) {
  div#page > div#content {
    margin: 0 40px;
  }

  div#page > div#content > div#breadcrumbs-wrapper {
    display: revert;
    margin-top: 40px;
    margin-bottom: -40px;
}

  div#page > div#content > div#breadcrumbs-wrapper {
    animation: fade-in-from-above 1s ease forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-from-below {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-from-above {
  from {
    opacity: 0;
    transform: translateY(-24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
