div#page {
  margin: 0 auto;
  max-width: calc(var(--max-width) * 2);
  max-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

div#page > div#content {
  margin: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fade-in 1s ease forwards;
}

div#page > div#content > h1 {
  position: fixed;
  top: 30%;
}

div#page > div#twinkle-wrapper {
  animation: fade-in 1s ease forwards;
}

div#page > div#breadcrumbs-wrapper {
  display: none;
}

div#page > div#content > div.event-list-container {
  padding: 40px;
  max-width: calc(var(--max-width) + (40px * 2));
  margin-left: auto;
  scrollbar-width: none;
}

div#page > div#content > div.event-list-container > h2 {
  font-family: var(--font-proto-mono);
  font-size: 1em;
  color: var(--color-light-50);

  &#upcoming {
    padding-top: 8px;
    border-top: 1px solid var(--color-light-30);
  }

  &#past {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color-light-30);
  }
}

div#page > div#content > div.event-list-container > div#past-upcoming-divider > h2 {
  font-family: var(--font-proto-mono);
  font-size: 1em;
  color: var(--color-light-50);

  &:first-of-type {
    margin-bottom: 0;
    padding-bottom: 8px;
  }

  &:last-of-type {
    margin-top: 0;
    padding-top: 8px;
  }
}

div#page > div#content > div.event-list-container > div.event-wrapper > div.event.past-event,
div#page > div#content > div.event-list-container > div.event-wrapper > div.event.now-event,
div#page > div#content > div.event-list-container > div.event-wrapper > div.event.upcoming-event {
  margin: 48px 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

div#page > div#content > div.event-list-container > div.event-wrapper > div.event > p.date {
  font-family: var(--font-proto-mono);
  color: var(--color-light-50);
}

div#page > div#content > div.event-list-container > div.event-wrapper > div.event > div.title-and-time {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

div#page > div#content > div.event-list-container > div.event-wrapper > div.event > div.title-and-time > h3 {
  margin: 0;
  font-size: 2rem;
  color: var(--color-compsigh);
  text-shadow: 0 0 10px var(--color-compsigh-60);
  text-transform: unset;
}

div#page > div#content > div.event-list-container > div.event-wrapper > div.event > div.title-and-time > p {
  font-family: var(--font-proto-mono);
  color: var(--color-light-50);
}

div#page > div#content > div.event-list-container > div.event-wrapper > div.event > div.title-and-time > div.now {
  display: flex;
  align-items: center;
  gap: 16px;
}

div#page > div#content > div.event-list-container > div.event-wrapper > div.event > div.title-and-time > div.now > span {
  font-family: var(--font-proto-mono);
  color: var(--color-light-50);
}

div#page > div#content > div.event-list-container > div.event-wrapper > div.event > div.location {
  display: flex;
  align-items: center;
  gap: 16px;
}

div#page > div#content > div.event-list-container > div.event-wrapper > div.event > div.location > p {
  font-family: var(--font-proto-mono);
  color: var(--color-light-50);
}

div#page > div#content > div.event-list-container > div.event-wrapper > div.event > ul.activities > li {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-proto-mono);
}

div#page > div#content > div.event-list-container > div.event-wrapper > div.event > ul.activities > li::before {
  content: ">";
  margin-top: unset;
  color: unset;
}

div#page > div#content > div.event-list-container > div.event-wrapper > div.event > ul.activities > li > span.activity-time {
  color: var(--color-light-50);
}

@media (max-width: 860px /* 80px + 700px + 80px */) {
  div#page > div#content {
    margin: 0 40px;
  }

  div#page > div#breadcrumbs-wrapper {
    display: revert;
    margin: 40px 40px -40px 40px;
    animation: fade-in-from-above 1s ease forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-from-below {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-from-above {
  from {
    opacity: 0;
    transform: translateY(-24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
