div.icon {
  animation: fluctuateOpacity 2s ease infinite;
  pointer-events: none;
}

@keyframes fluctuateOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
