div.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  pointer-events: none;
  user-select: none;

  font-family: var(--font-txa);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 155%;
}

div.tape {
  display: flex;
  white-space: nowrap;
  animation: tape 120s linear infinite;
  padding-left: var(--start-offset);
}

div.text {
  opacity: 5%;
  padding: 0 26px;
}

@keyframes tape {
  from {
    transform: translateX(calc(-300% + var(--start-offset)));
  }
  to {
    transform: translateX(calc(-200% + var(--start-offset)));
  }
}

@media (max-width: var(--max-width)) {
  div.container {
    overflow: hidden;
  }
}
