div#link-container a {
  text-decoration: none;
}

div#link-container a:hover {
  color: var(--color-compsigh);
  background-color: unset;
}

div#container {
  position: relative;
  width: 100%;
  min-height: 64px;
  padding: 12px 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--font-tronica-mono);
}

div#container.previous {
  flex-direction: row-reverse;
}

div#container div#arrow {
  font-size: 64px;
  margin: 6px 0 0 24px;
}

div#container.previous div#arrow {
  margin: 6px 24px 0 0;
}

div#container div#bar {
  position: absolute;
  inset: 0;
  background-color: var(--color-compsigh);
  transition: clip-path 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

div#container:hover div#bar {
  clip-path: inset(0 0 0 0);
  mix-blend-mode: difference;
}

div#container:not(:hover) div#bar {
  clip-path: inset(0 100% 0 0);
  mix-blend-mode: difference;
}
